* {
    margin: 0px;
}
 

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url("https://p.typekit.net/p.css?s=1&k=wvl2kgf&ht=tk&f=18085&a=84797321&app=typekit&e=css");

@font-face {
  font-family: "flood-std";
  src: url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
@media (min-width:800px){
.body {
    display: grid;
    grid-column: 1fr;
    grid-row: 100px 8fr 2fr;
    /* background-color:black; */
}

.header {
    width: 100%;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
}

.main {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    /* align-items: center; */
    /* opacity: 0.63; */
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center center;
    /* background-image: url(); */
    background-image: url('https://drive.google.com/file/d/1-ILfv9oWhTAUI0ZrnBZ7E6EPXlzaFKpR/view?usp=sharing');
    /* background-image: url('/home/saurabh/Desktop/webpages/mobile_donation/image.png'); */
    background-image: url('image.png');
    /* background-color: aquamarine; */
    padding-top: 50px;
    padding-bottom: 50px;
}

.phrase {
    font-size: 60px;
    font-family: 'Rock Salt', cursive;
    font-family: flood-std;
    color: black;
    order: 2;
    /* justify-self: flex-end; */
    
}

label {
    display: block;
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
}

.form {
    background-color: #354463;
    width: 500px;
    padding: 30px;
    /* justify-self: flex-start; */
}

.form>h3 {
    color: white;
    text-align: left;
    font: normal normal bold 26px/34px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1
}

input {
    border: none;
    border-bottom: #C1F7D5 2px solid;
    background-color: #354463;
}

.form #first-form {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1em;
}

#first-form>div {
    padding: 5px;
}

#second-form>div {
    padding: 5px;
}

#ff3 {
    width: 100%
}

.ff2 {
    grid-column: 2/4;
}

.ff3 {
    grid-column: 1/-1;
}

.ff7 {
    grid-column: 1/-1;
}

button {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background-color: #C1F7D5;
    color: black;
    margin-top: 20px;
    margin-left: 275px;
}

.footer {
    background-color: white;
    height: 250px;
    display: grid;
    grid-template-columns: 25% 15% 15% 15% 30%;
    grid-template-rows: 1fr;
}

#footer1 {
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    padding: 50px;
    padding-left: 100px;
}


#footer2 {
    padding: 16px;
    padding-top: 50px;
}
#footer3 {
    padding: 16px;
    padding-top: 50px;
}

#footer4 {
    padding: 16px;
    padding-top: 50px;
}

footer h4{
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
    border-bottom: 2px #354463 solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

footer p{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

#footer5 {
    text-align: right;
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    padding-top: 50px;
    padding-right: 100px;
}
}




@media (min-width:400px) and (max-width:800px){
    .body {
        display: grid;
        grid-column: 1fr;
        grid-row: 100px 8fr 2fr;
        /* background-color:black; */
        
    }
    
    .header {
        width: 100%;
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        color: #354463;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: white;
    }
    
    .main {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        
        /* opacity: 0.63; */
        background-size: cover;
        /* background-attachment: fixed; */
        background-repeat: no-repeat;
        background-position: center center;
        /* background-image: url(); */
        /* background-image: url('https://drive.google.com/file/d/1-ILfv9oWhTAUI0ZrnBZ7E6EPXlzaFKpR/view?usp=sharing'); */
        /* background-image: url('/home/saurabh/Desktop/webpages/mobile_donation/image.png'); */
        background-image: url('image.png');
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .phrase {
        font-size: 40px;
        font-family: flood-std;
        color: black;
    }
    
    label {
        display: block;
        text-align: left;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #FFFFFF;
        opacity: 1;
    }
    
    .form {
        background-color: #354463;
        width: 500px;
        padding: 30px;
        order:2;
    }
    
    .form>h3 {
        color: white;
        text-align: left;
        font: normal normal bold 26px/34px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1
    }
    
    input {
        border: none;
        border-bottom: #C1F7D5 2px solid;
        background-color: #354463;
    }
    
    .form #first-form {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        column-gap: 30px;
    }
    
    #first-form>div {
        padding: 5px;
    }
    
    #second-form>div {
        padding: 5px;
    }
    
    #ff3 {
        width: 100%
    }
    
    .ff2 {
        grid-column: 2/4;
    }
    
    .ff3 {
        grid-column: 1/-1;
    }
    
    .ff7 {
        grid-column: 1/-1;
    }
    
    button {
        height: 40px;
        width: 200px;
        border-radius: 20px;
        background-color: #C1F7D5;
        color: black;
        margin-top:20px;
        margin-left: 275px;
    }
    
    .footer {
        background-color: white;
        height: 250px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        width:100%;
    }
    
    #footer1 {
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        padding: 50px;
        padding-left: 20px;
        grid-row: 1/-1;
    }
    
    
    #footer2 {
        padding: 16px;
        padding-top: 50px;
    }
    #footer3 {
        padding: 16px;
        padding-top: 50px;
    }
    
    #footer4 {
        padding: 16px;
        padding-top: 50px;
    }
    
    footer h4{
        text-align: left;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #354463;
        opacity: 1;
        border-bottom: 2px #354463 solid;
        margin-bottom: 10px;
        padding-bottom: 5px;
        width:50%;
    }
    
    footer p{
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
    }
    
    #footer5 {
        text-align: right;
        font-family: 'Rock Salt', cursive;
        font-family: flood-std;
        font-size: 40px;
        padding-top: 50px;
        padding-right: 50px;
    }
}



@media (max-width:399px){
    .body {
        display: grid;
        grid-column: 1fr;
        grid-row: 100px 8fr 2fr;
        /* background-color:black; */
    }
    
    .header {
        width: 100%;
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        color: #354463;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: white;
    }
    
    .main {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('image.png');
        padding-top: 50px;
        padding-bottom: 50px;
        width:100%;
    }
    
    .phrase {
        font-size: 40px;
        font-family: flood-std;
        color: black;
    }
    
    label {
        display: block;
        text-align: left;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #FFFFFF;
        opacity: 1;
    }
    
    .form {
        background-color: #354463;
        /* width: 500px; */
        width:80%;
        padding: 30px;
        order:2;
    }
    
    .form>h3 {
        color: white;
        text-align: left;
        font: normal normal bold 26px/34px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1
    }
    
    input {
        border: none;
        border-bottom: #C1F7D5 2px solid;
        background-color: #354463;
    }
    
    .form #first-form {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        column-gap: 30px;
    }
    
    #first-form>div {
        padding: 5px;
    }
    
    #second-form>div {
        padding: 5px;
    }
    
    #ff3 {
        width: 100%
    }
    
    .ff2 {
        grid-column: 2/4;
    }
    
    .ff3 {
        grid-column: 1/-1;
    }
    
    .ff7 {
        grid-column: 1/-1;
    }
    
    button {
        height: 40px;
        width: 200px;
        border-radius: 20px;
        background-color: #C1F7D5;
        color: black;
        margin-top:20px;
        margin-left: 275px;
    }
    
    .footer {
        background-color: white;
        /* height: 250px; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        width:100%;
    }
    
    #footer1 {
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        padding: 50px;
        padding-left: 20px;
        grid-row: 1/2;
    }
    
    
    #footer2 {
        padding: 16px;
        padding-top: 50px;
    }
    #footer3 {
        padding: 16px;
        padding-top: 50px;
    }
    
    #footer4 {
        padding: 16px;
        padding-top: 50px;
    }
    
    footer h4{
        text-align: left;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #354463;
        opacity: 1;
        border-bottom: 2px #354463 solid;
        margin-bottom: 10px;
        padding-bottom: 5px;
        width:50%;
    }
    
    footer p{
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
    }
    
    #footer5 {
        text-align: right;
        font-family: 'Rock Salt', cursive;
        font-family: flood-std;
        font-size: 40px;
        padding-top: 50px;
        padding-right: 50px;
    }
}

